body {
  font-family: cursive;
  background-color: cadetblue;
  text-align: center;
}

.scoreButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreButton {
  background-color: rgb(216, 151, 173);
  border: 3px rgb(94, 17, 59) solid;
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 25%;
}

.getQuestionButton {
  background-color: aqua;
  border: 3px black solid;
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 25%;
}

.questionButton {
  background-color: rgb(71, 221, 221);
  border: 3px black dashed;
  padding: 15px 20px;
  text-align: center;
  font-size: 15px;
  border-radius: 25%;
}


.question {
  font-size: 16px;
}


.hide {
  display: none;
}